<!DOCTYPE html>
<html>
<head>
  <title>FayeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

<script type="text/javascript">
// 	$(function(){
// 	var faye = new Faye.Client("<%= ENV['FAYURL'] %>faye")
// 	// var faye = new Faye.Client('http://ec2-18-222-195-118.us-east-2.compute.amazonaws.com/faye')

// 	faye.subscribe("/messages/new", function(data){
// 		eval(data);
// 	})
// })

</script>